curl --basic -u admin:admin -X POST 'http://127.0.0.1:8080/credentials/store/system/domain/_/createCredentials?{{ jenkins_crumb_token }}' --data-urlencode 'json={
  "": "0",
  "credentials": {
    "scope": "GLOBAL",
    "id": "35a1f568-4a8e-4a2c-b415-728763bd8538",
    "username": "ishara",
    "password": "ishara",
    "description": "ishara",
    "$class": "com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl"
  }
}'

